html {
    scroll-behavior: smooth;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper>* {
    padding-inline: 16px;
    padding-top: 8px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.img-conteiner {
    transition: transform 0.5s;
    transform: scale(1);
    overflow: hidden;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 32px;
}

.img-conteiner:hover {
    transition: transform 0.5s;
    transform: scale(0.98);
}

.ratio1 {
    height: 560px;
    width: 480px;
}

.ratio2 {
    height: 560px;
    width: 680px;
}

.ratio3 {
    height: 280px;
    width: 480px;
}

.ratio4 {
    height: 240px;
    width: 240px;
}

.ratio5 {
    height: 480px;
    width: 340px;
}

.preview-img-landscape {
    max-width: 100%;
    height: auto;
}

.preview-img-portrait {
    max-height: 100%;
    width: auto;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 56px;
    -moz-column-gap: 56px;
    column-gap: 56px;
}

.button {
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    background-color: #6B8E23;
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.button:hover {
    -webkit-box-shadow: 0px 0px 13px #FFA132;
    box-shadow: 0px 0px 13px #FFA132;
}

.button:focus {
    -webkit-box-shadow: 0px 0px 10px #2b3615;
    box-shadow: 0px 0px 10px #2b3615;
}

.button:active {
    background-color: #4D6619;
}

.btnL {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: medium;
    font-size: 1.125rem;
    padding-inline: 1.5rem;
    padding-top: 1.0625rem;
    padding-bottom: 0.9375rem;
}

.btnS {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    padding-inline: 1rem;
    padding-top: 0.5625rem;
    padding-bottom: 0.4375rem;
}

.pS {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: medium;
    font-size: 1rem;
    line-height: 160%;
}

.pM {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: medium;
    font-size: 1.125rem;
    line-height: 150%;
}

.pL {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: medium;
    font-size: 1.5rem;
    line-height: 150%;
}

h1 {
    font-family: 'Alegreya SC', serif;
    font-size: 5.5rem;
    line-height: 150%;
}

h2 {
    font-family: 'Alegreya SC', serif;
    font-size: 3rem;
    line-height: 150%;
}

h3 {
    font-family: 'Alegreya SC', serif;
    font-size: 2em;
    line-height: 150%;
}

h4 {
    font-family: 'Alegreya SC', serif;
    font-size: 1.6875rem;
    line-height: 150%;
}

.hidden {
    display: none;
}

.box {
    position: relative;
    margin-bottom: 24px;
    margin-inline: 8px;
    border-radius: 0.5rem;
    overflow: hidden;
    /* Нижний отступ между элементами аккордеона */
}

.box:last-child {
    margin-bottom: 0;
    /* Для последнего элемента нижний отступ убираем */
}

.box .label {
    position: relative;
    padding: 24px;

    /* Внутренний отступ для видимой части */
    background-color: #B87C05;
    /* Цвет элемента аккордеона */
    color: #fff;
    /* Цвет шрифта элемента аккордеона */
    cursor: pointer;
    /* Меняем курсор при наведении */
}

.box .label::after {
    content: "+";
    /* Задаем иконку "+" для элемента аккордеона */
    position: absolute;
    top: 50%;
    /* Выравнивание по центру */
    transform: translateY(-50%);
    right: 16px;
    font-size: 24px;
    font-weight: bold;
}

.box.active .label::after {
    content: "\2014";
    /* Меняем иконку на "-" при нажатии на элемент */
}

.box .content {
    position: relative;
    background-color: #fff;
    padding: 16px;
    /* Цвет фона контента */
    overflow: hidden;
    max-height: 0;
    /* Скрываем контент */
    transition: 0.3s;
    /* Для плавности анимации */
}